.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--main);
  padding-bottom: 20px;
}
h2 + p {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: rgba(18, 20, 23, 0.8);
}
.popupContent {
  background-color: white;
  padding: 64px;
  border-radius: 8px;
  max-width: 565px;

  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.formGroup {
  margin-bottom: 18px;
}

.formGroup input {
  width: 100%;
  padding-left: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 18px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  outline: none;
}
.formGroup input::placeholder {
  color: var(--main);
}
.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
}

.eyeIcon:hover {
  color: #333;
}
.passwordInput {
  padding-right: 40px;
}
.inputGroup {
  position: relative;
  width: 100%;
}
.submitButton {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #f4c550;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  transition: background-color 0.3s ease;
  margin-top: 22px;
  height: 60px;
}

.submitButton:hover {
  background-color: #ffca28;
}

.errorMessage {
  color: #d32f2f;

  margin-left: 0.25rem;
}

.formGroup input:invalid {
  border-color: #d32f2f;
}
